service: sentinelops-backend

frameworkVersion: '4'

provider:
  name: aws
  runtime: python3.11
  region: us-east-1
  stage: dev
  memorySize: 512
  timeout: 10
  environment:
    PORT: 5050

plugins:
  - serverless-wsgi

custom:
  wsgi:
    app: app.app
    packRequirements: false
  pythonRequirements: {}

functions:
  app:
    handler: wsgi_handler.handler
    events:
      - httpApi: '*'

package:
  exclude:
    - node_modules/**
    - .gitignore
    - .git/**
    - __pycache__/**
    - data/**
